<div class="seccion-titulo">
  <h2>Carrito de Compras</h2>
  <p>Revisa los libros que seleccionaste</p>
</div>

<div class="contenedor">
  <!-- USO DE DIRECTIVA ESTRUCTURAL *ngIf -->
  <div class="vacio" *ngIf="carritoService.items().length === 0">
    <p>Tu carrito está vacío.</p>
    <a routerLink="/catalogo" class="btn-primary">Ver catálogo</a>
  </div>

  <div class="carrito-layout" *ngIf="carritoService.items().length > 0">
    <div class="lista-items">
      <!-- USO DE DIRECTIVA ESTRUCTURAL *ngFor -->
      <div class="item-card card" *ngFor="let item of carritoService.items()">
        <img [src]="'assets/' + item.libro.imagen" [alt]="item.libro.nombre" class="item-img" />
        <div class="item-info">
          <!--USO DE INTERPOLACION {{ }}-->
          <h3>{{ item.libro.nombre }}</h3>
          <p class="item-autor">{{ item.libro.autor }}</p>
          <p class="item-precio">{{ item.libro.precio | currency:'MXN' }} por unidad</p>
          <p class="item-subtotal">
            Subtotal: <strong>{{ item.libro.precio * item.cantidad | currency:'MXN' }}</strong>
          </p>
        </div>
        <div class="item-acciones">
          <div class="contador">
            <!-- USO DE EVENT BINDING ( ) -->
            <button class="btn-contador" (click)="carritoService.quitarUno(item.libro.id)">-</button>
            <span class="cantidad-num">{{ item.cantidad }}</span>
            <button 
              class="btn-contador"
              (click)="carritoService.agregar(item.libro)"
              [disabled]="item.cantidad >= item.libro.stock"
            >
              +
            </button>
          </div>
          <button class="btn-danger" (click)="carritoService.quitar(item.libro.id)">
            Eliminar
          </button>
        </div>
      </div>
    </div>

    <div class="resumen card">
      <h3>Resumen</h3>
      <div class="resumen-linea">
        <span>Total de libros:</span>
        <strong>{{ carritoService.totalProductos() }}</strong>
      </div>
      <div class="resumen-linea total">
        <span>Total:</span>
        <strong>{{ carritoService.total() | currency:'MXN' }}</strong>
      </div>
      <button class="btn-primary" (click)="carritoService.limpiar()">
        Vaciar carrito
      </button>
      <button class="btn-primary" (click)="pagar()">Pagar</button>
      <a routerLink="/catalogo" class="btn-secondary">Seguir comprando</a>
    </div>
  </div>
</div>