<div class="seccion-titulo">
  <h2>Catálogo de Libros</h2>
  <p>Encuentra el libro que estás buscando</p>
</div>

<div class="contenedor">
  <!-- USO DE DIRECTIVA ESTRUCTURAL *ngIf -->
  <p class="estado-msg" *ngIf="cargando()">Cargando libros...</p>
  <p class="estado-msg error-msg" *ngIf="error()">{{ error() }}</p>
  <p class="estado-msg" *ngIf="!cargando() && libros().length === 0 && !error()">No hay libros disponibles.</p>

  <div class="botones">
    <!-- USO DE EVENT BINDING ( ) -->
    <button (click)="filtrarCategoria('todas')">Todas</button>
    <button (click)="filtrarCategoria('novela')">Novelas</button>
    <button (click)="filtrarCategoria('ciencia ficción')">Ciencia Ficción</button>
    <button (click)="filtrarCategoria('desarrollo personal')">Desarrollo Personal</button>
  </div>

  <div class="grid-libros">
    <!-- USO DE DIRECTIVA ESTRUCTURAL *ngFor -->
    <!-- USO DE @Input() y @Output() mediante app-libro-card -->
    <app-libro-card
      *ngFor="let libro of librosFiltrados()"
      [libro]="libro"
      (agregarAlCarrito)="agregarAlCarrito($event)">
    </app-libro-card>
  </div>
</div>