<div class="seccion-titulo">
  <h2>Catálogo de Libros</h2>
  <p>Encuentra el libro que estás buscando</p>
</div>

<div class="contenedor">
  @if (cargando()) {
    <p class="estado-msg">Cargando libros...</p>
  }

  @if (error()) {
    <p class="estado-msg error-msg">{{ error() }}</p>
  }

  @if (!cargando() && libros().length === 0 && !error()) {
    <p class="estado-msg">No hay libros disponibles.</p>
  }

  <div class="botones">
    <!-- USO DE EVENT BINDING ( ) -->
    <button (click)="filtrarCategoria('todas')">Todas</button>
    <button (click)="filtrarCategoria('novela')">Novelas</button>
    <button (click)="filtrarCategoria('ciencia ficción')">Ciencia Ficción</button>
    <button (click)="filtrarCategoria('desarrollo personal')">Desarrollo Personal</button>
  </div>

  <div class="grid-libros">
    <!-- Directiva estructural @for (equivale a *ngFor) -->
    @for (libro of librosFiltrados(); track libro.id) {
      <!-- USO DE @Input() y @Output() mediante app-libro-card -->
      <app-libro-card
        [libro]="libro"
        (agregarAlCarrito)="agregarAlCarrito($event)">
      </app-libro-card>
    }
  </div>
</div>