<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/">
      <img src="/assets/logo.jpg" alt="Biblioteca Digital" class="logo-img" />
    </a>
  </div>

  <ul class="navbar-links">
    <!--USO DE ROUTING: ROUTER-LINK... Aqui se definen los enlaces de navegación -->
    <li><a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">Inicio</a></li>
    <li><a routerLink="/catalogo" routerLinkActive="activo">Catálogo</a></li>
    <li><a routerLink="/agregar" routerLinkActive="activo">Agregar Libro</a></li>
    <li><a routerLink="/contacto" routerLinkActive="activo">Contacto</a></li>
    <li>
      <a routerLink="/carrito" routerLinkActive="activo" class="carrito-btn">
        &#128722; Carrito
        <!-- USO DE DIRECTIVA ESTRUCTURAL *ngIf -->
        <span class="badge" *ngIf="carrito.totalProductos() > 0">{{ carrito.totalProductos() }}</span>
      </a>
    </li>
  </ul>
</nav>