<!-- USO DE DIRECTIVA DE ATRIBUTOS [ngClass] -->
<!-- USO DE PROPERTY BINDING [ ] -->
<div class="card libro-card" [ngClass]="{'agotado': !libro.disponibilidad}">
  <div class="imagen-wrapper">
    <a [routerLink]="['/catalogo', libro.id]">
      <img [src]="'assets/' + libro.imagen.trim()" [alt]="libro.nombre" class="libro-img" />
      <div class="overlay">
        <span class="ver-mas">Ver más...</span>
      </div>
    </a>
  </div>
  <div class="libro-info">
    <!-- USO DE INTERPOLACION {{ }} -->
    <span class="categoria">{{ libro.categoria | uppercase }}</span>
    <h3>{{ libro.nombre | titlecase }}</h3>
    <p class="autor">{{ libro.autor }}</p>
    <p class="descripcion">{{ libro.descripcion }}</p>
    <div class="libro-footer">
      <span class="precio">{{ libro.precio | currency:'MXN' }}</span>
      <!-- USO DE DIRECTIVA ESTRUCTURAL *ngIf -->
      <button class="btn-primary" *ngIf="libro.disponibilidad" (click)="agregar()">Agregar</button>
      <span class="sin-stock" *ngIf="!libro.disponibilidad">Agotado</span>
    </div>
  </div>
</div>