<div class="contenedor">
  <!--USO DE ROUTERLINK PARA VOLVER AL CATÁLOGO-->
  <a routerLink="/catalogo" class="volver">Volver al catálogo</a>

  <!-- USO DE DIRECTIVA ESTRUCTURAL *ngIf -->
  <p class="estado-msg" *ngIf="cargando()">Cargando libro...</p>
  <p class="estado-msg error-msg" *ngIf="error()">{{ error() }}</p>

  <div class="detalle-card" *ngIf="libro()">
    <div class="detalle-imagen">
      <!-- USO DE PROPERTY BINDING [ ] -->
      <img [src]="'assets/' + libro()!.imagen" [alt]="libro()!.nombre" />
    </div>
    <div class="detalle-info">
      <!-- USO DE INTERPOLACION {{ }} -->
      <!-- USO DE PIPE UPPERCASE -->
      <span class="categoria">{{ libro()!.categoria | uppercase }}</span>
      <!-- USO DE PIPE TITLECASE -->
      <h1>{{ libro()!.nombre | titlecase }}</h1>
      <p class="autor">{{ libro()!.autor }}</p>
      <p class="edicion">Edición: {{ libro()!.edicion }}</p>
      <p class="descripcion">{{ libro()!.descripcion }}</p>

      <div class="detalle-meta">
        <p *ngIf="libro()!.stock > 0">
          Stock disponible: {{ libro()!.stock }}
        </p>

        <p *ngIf="libro()!.stock === 0" class="sin-stock">
             
        </p>
        <!-- USO DE DIRECTIVA ESTRUCTURAL *ngIf -->
        <span class="disponible" *ngIf="libro()!.stock > 0">Disponible</span>
        <span class="agotado"*ngIf="libro()!.stock === 0">  </span>
      </div>

      <!-- USO DE DIRECTIVA ESTRUCTURAL *ngIf -->
      <div class="contador" *ngIf="libro()!.stock > 0">
        <!-- USO DE EVENT BINDING ( ) -->
        <button class="btn-contador" (click)="disminuir()" [disabled]="cantidad() === 1 || agregado()">-</button>
        <!-- USO DE INTERPOLACION {{ }} -->
        <span class="cantidad">{{ cantidad() }}</span>
        <button class="btn-contador" (click)="aumentar()" [disabled]="cantidad() >= stockRestante() || stockRestante() === 0 || agregado()">+</button>
      </div>

      <div class="detalle-footer">
        <!-- USO DE PIPE CURRENCY -->
        <span class="precio">{{ libro()!.precio | currency:'MXN' }}</span>
        <!-- USO DE DIRECTIVA ESTRUCTURAL *ngIf -->
        <button 
          class="btn-primary"
          *ngIf="libro()!.stock > 0"
          (click)="agregarAlCarrito()"
          [disabled]="libro()!.stock === 0 || agregado()"
        >
          {{ agregado() ? 'Agregado' : 'Agregar al carrito' }}
        </button>

        <span class="sin-stock agotado" *ngIf="libro()!.stock === 0">
          Agotado
        </span>
      </div>

      <!-- USO DE DIRECTIVA ESTRUCTURAL *ngIf -->
      <p class="confirmacion" *ngIf="agregado()">Libro agregado al carrito.</p>
    </div>
  </div>

  <!--GOOGLE BOOKS API IMPLEMENTADA-->
  <div class="google-card" *ngIf="infoGoogle()">
    <h3>Información adicional <small>vía Google Books</small></h3>

    <div class="google-body">
      
      <img
        *ngIf="infoGoogle().portada"
        [src]="infoGoogle().portada"
        alt="Portada Google Books"
        class="google-portada"
      />

      <div class="google-datos">

        <p *ngIf="infoGoogle().autores">
          <strong>Autor(es):</strong> {{ infoGoogle().autores | titlecase }}
        </p>

        <p *ngIf="infoGoogle().editorial">
          <strong>Editorial:</strong> {{ infoGoogle().editorial }}
        </p>

        <p *ngIf="infoGoogle().publicado">
          <strong>Año:</strong> {{ infoGoogle().publicado }}
        </p>

        <p *ngIf="infoGoogle().paginas">
          <strong>Páginas:</strong> {{ infoGoogle().paginas }}
        </p>

        <p *ngIf="infoGoogle().descripcion">
          {{ infoGoogle().descripcion }}
        </p>

        <div *ngIf="infoGoogle().categorias?.length > 0">
          <strong>Categorías:</strong>
          <ul>
            <li *ngFor="let cat of infoGoogle().categorias">{{ cat }}</li>
          </ul>
        </div>

        <a *ngIf="infoGoogle().link" [href]="infoGoogle().link" target="_blank">
          Ver en Google Books
        </a>

      </div>
    </div>
    <small class="google-fuente">Fuente: Google Books API</small>
  </div>

</div>